
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body {
    line-height: 1.5;
}
body {
    background-color: #F0F0F0;
}
body {
    margin: 1em;
}
a {
    color: blue;
    text-decoration: underline;
}
a {
    text-decoration: none;
}
